/*logo and navigation*/
body{
	font-family: 'Birthstone', cursive;
}

.header-wraper{
	width: 1440px;
	height: 50px;
	position: fixed;
	top: 0;
	left: 0;
	
}

.logo{
	display: inline-block;
	vertical-align: middle;
	font-size: 27px;
	margin-left: 20px;
	}
	
.navigation{
	display: inline-block;
	margin-top: 20px;
	margin-left: 150px;
}
.nav-a{
	display: inline-block;
	margin-right: 27px;
	vertical-align: middle;
	color: #707070;
	
}

/*section(1)*/
.first-div{
	display: inline-block;
	width: 360px;
	height: 350px;
	position: relative;
	
}

.trending{
	font-size: 24px;
	color: #202124;
	margin-top: 100px;
	margin-left: 140px;
	
}
.image1{
	margin-top: 40px;
	margin-left: 140px;
}

.text1{
	font-size: 12px;
	color: #A6ADB4;
	margin-top: 20px;
	margin-left: 180px;

}
.time{

	margin-top: 10px;
	margin-left: 180px;
}

.minute-class{
	display: inline-block;
	margin-left: 10px;
	font-size: 13px;
	color: #A6ADB4;
}
.dolore{
	font-size: 16px;
	font-family: bold;
	position: absolute;
	color: #FFFFFF;
	top: 100px;
	left: 200px;
}

/*div2*/

.second-div{
	display: inline-block;
	vertical-align: top;
	position: relative;
	top: 20px;
	left: 150px;
}

.image2{
	margin-top: 20px;

}


.text2{
	font-size: 12px;
	color: #A6ADB4;
	margin-top: 20px;
	margin-left: 10px;



}
.time2{
	margin-top: 10px;
}
.hour{
	display: inline-block;
	font-size: 13px;
	color: #A6ADB4;
	margin-top: 30px;
	margin-left: 10px;


}
.morbi{
	font-size: 16px;
	position: absolute;
	top: 50px;
	left: 70px;
	color: #FFFFFF;

}
/*div3*/

.third-div{
	display: inline-block;
	vertical-align: top;
	position: relative;
	top: 40px;
	left: 160px;
	

}


.image3{
	margin left: 20px;
}

.text3{
	font-size: 12px;
	color: #A6ADB4;
	margin-top: 30px;
	margin-left: 10px;

}
.threehour{

	display: inline-block;
	font-size: 13px;
	color: #A6ADB4;
	margin-top: 20px;

}
.morbitwo{
	font-size: 16px;
	position: absolute;
	top: 50px;
	left: 70px;
	color: #FFFFFF;

}

/*section2*/
.left-block{
	display: inline-block;
	width: 760px;
	height: 900px;
	position: relative;
}

.happening{
	font-size: 24px;
	color: #202124;
	margin-top: 50px;
	margin-left: 140px;
}
.bridge{
	margin-top:40px ;
	margin-left: 140px;
	
}
.trees{
	padding-top: 40px;
	padding-left: 140px;

}
.libero{
	position: absolute;
	top: 240px;
	left: 370px;
	color: #FFFFFF;
}

.right-block{
	display: inline-block;
	vertical-align: center;
	margin-left: 180px;

}
.elephant{
	padding-bottom: 70px;

}
.carrot{
	padding-bottom: 55px;
}
.road{
	margin-bottom: 100px;
}
